$background: #000;
$secondary-bg: #121212;
$heading-color: #F5C518;

@font-face {
    font-family:IR-sans;
    src: url(./Assets/Fonts/A-Iranian-Sans/Iranian-Sans.ttf);
}

@mixin FlexBox($dir) {
    display: flex;
    flex-direction: $dir;
}

.v-line {
    width: 2px;
    height: 30px;
    background: #383838;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $background;
    color: #fff;

    font-family: IR-sans , sans-serif;
}

.container {
    margin: auto;
}

.nav {
    @include FlexBox(row-reverse);
    align-items: center;
    justify-content: space-around;
    background: $secondary-bg;
    height: 50px;

    &-ls {
        @include FlexBox(row);
        align-items: center;
    
        div {
            @include FlexBox(row);
            align-items: center;
        }
        a {
            font-size: 1rem;
            line-height: 10px;
            padding-left: 2px;
            padding-right: 20px;
            text-decoration: none;
            color: #fff;
            text-align: center;
        }
    }

    &-rs {
        @include FlexBox(row-reverse);
        align-items: center;

        img {
            margin: 0 20px 0 20px;
            width: 60px;
        }

        &-hamburger {
            cursor: pointer;

        }

        input {
            min-width: 700px;
            border: none;
            background: #fff;
            height: 35px;
            border-radius: 5px;
            color: #000;
            text-align: right;
            margin: 0 20px 0 20px;
        }

    }

}

// Login Form Styles

.login-container {
    @include FlexBox(column);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.form {
    width: 400px;
    height: 450px;
    border-radius: 20px;
    @include FlexBox(column);
    align-items: center;
    background: $secondary-bg;

    input {
        width: 200px;
        height: 40px;
        border-radius: 10px;
        border: none;
        text-align: right;
        padding-right: 10px
    }

    &-switcher {
        @include FlexBox(row);
        justify-content: space-between;
        width: 250px;
        margin-top: 30px;

        &-login {
            background: $heading-color;
            width: 100px;
            height: 50px;
            text-align: center;
            font-size: 0.7rem;
            color: #000;
            border-radius: 10px;
            cursor: pointer;
        }

        &-sign-up {
            background: $heading-color;
            width: 100px;
            height: 50px;
            font-size: 0.7rem;
            text-align: center;
            color: #000;
            border-radius: 10px;
            cursor: pointer;
        }

        .not-active {
            background: $secondary-bg;
            border:  0.8px solid #383838;
            transition: ease-in-out 0.5s;
            color: #fff;
            
            &:hover {
                border: 1px solid #fff;
            }
        }

    }

    &-login {
        @include FlexBox(column);
        width: 100%;
        height: 300px;

        form {
            height: 100%;
            @include FlexBox(column);
            align-items: center;
            justify-content: space-around;
            
            button {
                background: $heading-color;
                width: 100px;
                padding: 9px;
                border: none;
                border-radius: 6px;
                font-size: 1rem;
                cursor: pointer;
            }

            a {
                color: #fff;
                font-size: 0.8rem
            }
            
            div {
                @include FlexBox(column);
                text-align: right;

                span {
                    color: $heading-color;
                    font-size: 0.9rem;
                }

                input {
                    margin-top: 10px;
                }
            }
        }
    }
}